# This is Git's per-user configuration file.
[user]
	name = Aiden Woodruff
	email = aiden.woodruff@gmail.com
[gui]
	commitmsgwidth = 80
[core]
	pager = less -x1,3
[credential]
	helper = store
[alias]
	forget-pass = credential-cache exit
[push]
	followTags = true
[commit]
	gpgSign = true
[tag]
	gpgSign = true
